
@model Product_management.Models.Category
@{
    ViewBag.Title = "DetailPage";
}

<h2>DetailPage</h2>


<div>
    <div>
        <label for="Name">Category Name:</label>
        @Model.CategoryName
    </div>
</div>







