

@model Product_management.Models.Product
@{
    ViewBag.Title = "Details";
}

<h2>DetailPage</h2>


<div>
    <div>
        <label for="CategoryName">Category Name:</label>
        @Model.categoryName
    </div>

    <div>
        <label for="ProductName">Product Name:</label>
        @Model.ProductName
    </div>

    <div>
        <label for="ProductId">Product Id:</label>
        @Model.ProductId
    </div>

    <div>
        <label for="CategoryId">Category Id:</label>
        @Model.CategoryId
    </div>
</div>







